.panel{
  margin: 20px
}
.panel-body {
    background: #fcfdff;
}
img{
width: 100%;
height: 150px;
margin:  auto;
border: 1px solid #d9edf7;
display: block;
}
form{
  float: right;
}
.panel-title {
    display: inline-block;
  }
label{
margin-right: 10px
}
.cont{
  margin: 10px;
  box-shadow: 0 0 3px #c7dfea;
  padding: 10px;
  background: #fff;
}
select {
  border-color: #31708f;
  width: 80px;
  border-radius: 4px
}
